DATABASE_URL=postgresql://neondb_owner:npg_SKPA8QsqVbv9@ep-cool-butterfly-aot3hxo5-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DEBUG=True
SECRET_KEY=sujal@taskmgmt
FRONTEND_URL=http://localhost:3000